body {
    background-color: #132257;
}

.problemBox {
    width: 100%;
    height: 100%;
    border: 3px solid #666;
    background-color: #9e8d8d;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    color: white;
    border: 3px solid black;
}

.container1{
    background-color:gray;
    width: 15%; height:78%; margin:0 auto;
    position:absolute; bottom:0;
    background-size: 200px  100%;
    border: 5px solid black;
    z-index: 1000;
    
}
.container2{
    background-color:gray;
    width: 100%; height:78%; margin:0 auto;
    position:bottom; right:1px; bottom:0;
    background-size: 200px  100%;
    border: 5px solid black;
    z-index: 950;
}
.inventoryHeader{
    background-color:gray;
    width: 15%; height:5%; margin:0 auto;
    position:absolute;
    background-size: 200px  100%;
    border: 5px solid black;
    color:white
}
.workSpaceHeader{
    background-color:gray;
    width: 15; height:5%; margin:0 auto;
    position:absolute; right:1px;
    background-size: 200px  100%;
    border: 5px solid black;
    color:white
}
.container5{
    background-color:gray;
    width: 30%; height: 10%; margin: auto;
    position:absolute; right:.0001%; bottom:0;
    background-size: 200px  100%;
    border: 5px solid black;
    color:white;
    z-index:1000;
}
.container6{
    background-color:#242731;
    width: 30%; height: 10%; margin: auto;
    
    position:absolute; right:35%; bottom:0;
    background-size: 200px  100%;
    border: 5px solid black;
    color:white;
    z-index:1000;
}
.home{
    background-color:gray;
    width: 24.9999%; height: 10%; margin: auto;
    position:absolute; left:15%; bottom:0;
    background-size: 200px  100%;
    border: 5px solid black;
    color:white;
    z-index:1000;
}

.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
  }
  .button1{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    
  }
  .button1:hover {
  background-color: #4CAF50;
  color: white;
}
  .button2{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .button2:hover {
    background-color: lightcoral;
    color: white;
 
  }
  
  .button3{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button3:hover {
    background-color: lightblue;
    color: white;
  }
  .text-2xl{
    color:white;
  }
  .header{
    padding-inline: 20px;
        padding-left: 30px;
        text-align: left;
  }
  .drop-zone {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 5px #aaa;
    margin: 30px;
    padding: 10px;
    width: 400px;
    min-height: 200px;
    height: auto !important;
    }
.inventory-container {
    width: 500px;
    display: flex;
    flex-direction: row;
}
.modalHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalTextAnswer{
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.modalTextEscape{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.subtle{
  font:"Poppins"
}
