body {

    background-color: #132257;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}

.box {
    
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    width: 50rem;
    
}
h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}


p1{text-align:center;}
.card{
    width:20rem;
    height: 10rem;
}
.cardbody{
    text-align: center;
    position: fixed;
}
.link{
    position: fixed;
    bottom:.1;
    
}
.home-container {
    margin: auto; 
    width: 50%; 
    display: block; 
    padding: auto;
    text-align: center;
}
.h2{
    text-align: center;
    color:white;
    font-size: 10; 
    font-weight: 10
}